[submodule "vendor/octicons"]
	path = vendor/octicons
	url = git@github.com:primer/octicons.git
	shallow = true
[submodule "vendor/lunasvg"]
	path = vendor/lunasvg
	url = git@github.com:sammycage/lunasvg.git
	shallow = true
[submodule "vendor/stb"]
	path = vendor/stb
	url = git@github.com:nothings/stb.git
	shallow = true
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = git@github.com:google/googletest.git
	shallow = true
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = git@github.com:glfw/glfw.git
	shallow = true
[submodule "vendor/json"]
	path = vendor/json
	url = git@github.com:nlohmann/json.git
	shallow = true
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
	shallow = true
[submodule "vendor/watcher"]
	path = vendor/watcher
	url = https://github.com/e-dant/watcher.git
	shallow = true
