**/.env
**/.venv
scripts/.signing.env

**/.cache/
**/.DS_Store
**/.vscode
**/.claude
**/.codex
**/.zed
**.log
*.tmp

**/build/
**/dist/
**/dist-web/
**/node_modules/
**/target/
**/src-tauri/gen/*
!**/src-tauri/gen/apple/
!**/src-tauri/gen/apple/**
!**/src-tauri/gen/android/
!**/src-tauri/gen/android/**

**/config/
**/bin/
**/sessions

proxy/~/
proxy/proxy
proxy/dist/
