.misty-docking-preview {
  position: relative;
  display: block;
  width: 100%;
  height: 64px;
  overflow: hidden;
  border: 1px solid var(--misty-theme-active);
  background: var(--misty-theme-bg);
  border-radius: 2px;
}
.misty-docking-preview > span {
  position: absolute;
}
.preview-navigation {
  background: var(--misty-theme-text-muted);
}
.preview-tabs {
  background: var(--misty-theme-active);
}
.edge-left {
  left: 0;
  top: 0;
  bottom: 0;
  width: 12px;
}
.edge-right {
  right: 0;
  top: 0;
  bottom: 0;
  width: 12px;
}
.edge-top {
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
}
.edge-bottom {
  bottom: 0;
  left: 0;
  right: 0;
  height: 6px;
}
.preview-tabs.nav-left {
  left: 15px;
}
.preview-tabs.nav-right {
  right: 15px;
}
.preview-tabs.nav-top {
  top: 9px;
}
.preview-tabs.nav-bottom {
  bottom: 9px;
}
